/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte padrão */
body {
    font-family: 'Roboto', sans-serif;
    background: #f6f5f7;
    color: #2f2d2d;
    line-height: 1.6;
}

/* Seção Hero */
.hero {
    background: #222121;
    padding: 60px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-image {
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.hero-text {
    max-width: 600px;
    margin-left: 20px;
    color: #dfe6e9;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #6db5d4;
    text-shadow: 5px 0 10px rgba(180, 167, 167, 0.632), 10px 0 20px rgba(109, 181, 212, 0.6);
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero-btn {
    padding: 12px 30px;
    background: #6db5d4;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.hero-btn:hover {
    background: #305b70;
}

/* Container principal */
.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin: 40px auto;
}

/* Formulário */
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    display: flex;
}

/* Formulários de entrar e cadastrar */
.form {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    text-align: center;
    transition: all 0.6s ease-in-out;
    width: 50%;
    z-index: 2;
}

.form h2 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.form label {
    position: relative;
    margin: 10px 0;
    width: 100%;
}

.form label span {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #555;
}

.form input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.forgot-pass {
    margin: 10px 0;
    color: #555;
}

.forgot-pass a {
    color: #6db5d4;
    text-decoration: none;
}

.forgot-pass a:hover {
    text-decoration: underline;
}

.submit-btn, .fb-btn {
    border: none;
    padding: 12px 45px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 10px 0;
    width: 100%;
    font-size: 1rem;
}

.submit-btn {
    background: #6db5d4;
    color: #fff;
}

.submit-btn:hover {
    background: #2d4373;
}

.fb-btn {
    background: #3b5998;
    color: #fff;
}

.fb-btn:hover {
    background: #2d4373;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.icon-link img {
    width: 40px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.icon-link img:hover {
    transform: scale(1.1);
}

.link-footer {
    margin: 0 10px;
    color: #6db5d4;
    text-decoration: none;
    font-weight: bold;
}

.link-footer:hover {
    text-decoration: underline;
}

/* Imagem e texto adicional */
.img-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    right: 0;
}

.img {
    background: #6db5d4;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 50px;
}

.img__text {
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;
}

.img__text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.img__text p {
    font-size: 14px;
}

.img__btn {
    margin-top: 20px;
}

.img__btn span {
    display: inline-block;
    margin: 10px;
    padding: 12px 45px;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.img__btn span:hover {
    background: #fff;
    color: #ff4b2b;
}

/* Responsividade */
@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
    }

    .hero-text {
        margin-left: 0;
    }

    .container {
        width: 100%;
        min-height: 600px;
        margin: 20px auto;
        
    }

    .form-container {
        flex-direction: column;
    }

    .form, .img-container {
        width: 100%;
    }

    .img {
        display: none;
    }
}
